**/node_modules
**/.DS_Store
cookies.txt
config.js
coverage
dist
**/.vite
.nyc_output/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/